html,body{height: 100%;}
* {
  -webkit-user-select: none;
}

body {
  background-image: url('../img/htmlbg.png')
}

.files {
  padding: 0;
  margin: 0;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  width: 80px;
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
  width: 50px;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}

.plus_icon{float: left;width: 30px;height: 30px;border-radius: 5px;list-style:none;background: #ddd;margin-right: 3px;text-align: center;line-height: 30px;-webkit-user-select:none;}
.plus_icon:hover{cursor:pointer;}
.plus_icon.working{-webkit-animation:workingAnim 2s infinite;}
@-webkit-keyframes workingAnim{
  0%{background-color: #ddd;}
  50%{background-color: yellow;}
  100%{background-color: #ddd;}
}